__pycache__/
*.py[cod]
*.log

# Virtual envs
venv/
.venv/
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local port rules
backend/port_rules.json
backend/port_rules.local.json
# Local device mapping
backend/device_map.json
# Local hardware replacement rules
backend/replacement_rules.json

# Local standard firmware versions
backend/standard_fw_versions.json
